*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 30px;
}

.aling{
    margin-left: 25%;
    display: flex;
}

div img{
    max-width: 150px;
    cursor: pointer;
}

.player, .IA{
    width: 50%;
}