*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 30px;
}

/*Jogo*/

.aling{
    display: flex;
    width: 100%;
    text-align: center;
}

div img{
    max-width: 150px;
}

.player, .IA{
    width: 50%;
}

.player{
    cursor: pointer;
}

.placar{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.placar span{
    margin: 3px;
    background-color: #01dfba;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 50px;
}

.placar span.placarJogador{
    background-color: #0c7cea;
}

.placar span.placarIA{
    background-color: #fe2cf1;
}

.rodadasRestante{
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
}

.rodadasRestante span{
    margin: 3px;
    background-color: #ff0505;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 50px;
}

.btns{
    display: flex;
    width: 100%;
    text-align: center;
}

.btns div{
    width: 50%;
}

.btns button{
    border: none;
    height: 40px;
    width: 70px;
    color: white;
    cursor: pointer;
}

.reiniciar{
    background-color: rgb(16, 240, 16);
}

.sair{
    background-color: red;
}

/*Opções*/

.config{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    width: 70%;
    max-width: 500px;
    height: 25%;
    max-height: 300px;
    padding-top: 10px;
    border-radius: 15px;
    min-width: 400px;
    min-height: 175px;
}

.config div{
    margin: 10px;
}

.config input{
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px;
}

.config input[type=text]{
    width: 100%;
}

.config input[type=submit]{
    width: 100%;
    cursor: pointer;
    background-color: #0fe907;
    color: white;
}

div.rodadas{
    text-align: center;
}

div.rodadas label{
    color: white;
    font-size: 20px;
}

div.rodadas input{
    width: 53%;
    text-align: center;
}



/*Mostrar e sumir*/

.none{
    display: none;
}

/*Vencedor*/
.vencedor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(76, 43, 226);
    color: white;
    width: 70%;
    max-width: 500px;
    height: 33%;
    padding-top: 20px;
    max-height: 300px;
    border-radius: 15px;
    min-width: 400px;
    min-height: 235px;
    text-align: center;
}

.vencedor h2{
    font-size: 40px;
}

.vencedor span{
    margin: 3px;
    background-color: #01dfba;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 50px;
}

.vencedor span.placarJ{
    background-color: #0c7cea;
}

.vencedor span.placarI{
    background-color: #fe2cf1;
}

.bts button{
    border: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
    cursor: pointer;
    border-radius: 15px;
}

.jogarNv{
    background-color: #ff5722;
}